<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/header :: header}"></div>
<body>
<div th:replace="~{fragments/header :: navbar}"></div>
<a th:href="@{/getTotalPriceReport}" class="btn btn-success" style="margin: 2%;float: right;">List Entry Report</a>
<div class="container my-5 col-md-6">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Machine</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="todo : ${todos}">
            <td th:text="${todo.name}"></td>
            <td th:text="${todo.date}"></td>
            <td th:text="${todo.machine}"></td>
            <td th:text="${todo.price}"></td>

        </tr>
        </tbody>
    </table>
</div>
<div th:replace="~{fragments/header :: footer}"></div>
</body>
</html>